.mat-card {
	min-height: 450px;
}

.mat-card h4 {
	margin: 0;
	font-size: 1em;
	font-weight: 400;
}

.mat-card-content {
	min-height: 70px;
}

div.button_container {
	padding: 1em 0;
}

div.button_container button {
	display: block;
	margin: 0 auto;
}
