.mat-input-container {
	display: block;
	margin-bottom: 1em;
}

.mat-dialog-content {
	height: 80%;
}

button.submit_button {
	display: inline-block;
	margin-right: 1em;
}

img.thumbnail {
	height: 400px;
}