<h2 md-dialog-title class="primary">Dialog Form</h2>

<!-- Form Template when edit button clicked with values from item -->
<div class="formEdit">
	<img md-card-image src="assets/{{thumbnail}}.jpg" class="thumbnail">

	<span>Choose Your Image</span>
	<md-slider min="0" max="5" step="1" value="0" (input)="onInputChange($event)"></md-slider>

	<md-dialog-content>
		<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit(reactiveForm.value)">

			<!-- Title -->
			<md-input-container>
				<input [formControl]="reactiveForm.controls['title']"
					mdInput
					type="text"
					value="{{data.book.title}}"
					placeholder="Enter a title" 
					>
				<md-hint *ngIf="titleError" [ngStyle]="{'color': 'red'}" align="start">{{titleError}}</md-hint>
			</md-input-container>

			<!-- Date -->
			<md-input-container>
				<input
					[formControl]="reactiveForm.controls['year']"
					mdInput 
					type="text" 
					value="{{data.book.year}}"
					placeholder="Enter a year YYYY-MM-DD" 
					>
				<md-hint *ngIf="yearError" [ngStyle]="{'color': 'red'}" align="start">{{yearError}}</md-hint>
			</md-input-container>

			<!-- Author -->
			<md-input-container>
				<input
					[formControl]="reactiveForm.controls['author']"
					mdInput
					type="text" 
					value="{{data.book.author}}"
					placeholder="Enter an authors name" 
					>
				<md-hint *ngIf="authorError" [ngStyle]="{'color': 'red'}" align="start">{{authorError}}</md-hint>
			</md-input-container>

			<!-- Action buttons -->
			<md-dialog-actions>
				<button class="submit_button" md-raised-button color="primary" type="submit" [disabled]="!reactiveForm.valid">Submit</button>
				<button md-raised-button color="primary" type="button" (click)="dialogRef.close()">Cancel</button>
			</md-dialog-actions>

			<input 
				[formControl]="reactiveForm.controls['thumbnail']"
				type="hidden"
				value=""
				name="thumbnail"
				/>
		</form>
	</md-dialog-content>
</div>

